<h1>Hallo</h1>
<ul>
<li>
  <a routerLink="/Uebersicht">Uebersicht</a>
</li>
<li>
  <a routerLink="/ueberuns">ÜberUns</a>
</li>
<li>
  <a routerLink="/Team">Team</a>
</li>
<li>
  <a routerLink="/Projekte">Projekte</a>
</li>
<li>
  <a routerLink="/Thesis">Thesis</a>
</li>
<li>
  <a routerLink="/Publikation">Publikation</a>  
</li>
<li>
  <a routerLink="/Fachartikel">Fachartikel</a>
</li>
<li>
  <a routerLink="/Buecher">Buecher</a>
</li>
<li>
  <a routerLink="/Events">Events</a>
</li>
<li>
  <a>Aktuelles</a>
</li>
<li>
  <a>Kontakt</a>
</li>
<li>
  <a>Login</a>
</li>
</ul>
<router-outlet></router-outlet>